#like{
    display: grid;
    grid-template-columns: repeat(5,250px);
    grid-gap: 10px;
   margin-left: 120px;
    margin-top: 10px;  
}
.suggestionPic img{
    width: 200px;
}

#buttonRow{
    width: 1300px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#buttonRow>div{
    width: 180px;
}

#buttonRow>div>p{
    font-size: larger;
    text-align: center;
}
#desc{
    width: 70%;
    margin-left: 120px;
}
#imgSeq{
    width: 60%;
    margin-left: 120px
}
#imgSeq img{
height: 800px;
width: 1000px;
margin-top: -4px;
}
#specBox{
    margin-left: 120px;
    border: 1px solid gray;
    height: 1500px;
    width: 65%;
    box-lines: single;
}
#spaceBox>table{
    border-collapse: collapse;
    font-family: 14px/1.55 verdana,arial,sans-serif;
    width: 912px;
    padding: 5px;
    border: 1px;
}
#videos{
display: flex;
flex-direction: column;
margin-left: 120px;
}
#videos>iframe{
    margin-top: 30px;
}

#cust{
    height: 150px;
    width: 50%;
    margin-left: 120px;
   display: flex;
}
#cust>div{
    border: 1px solid gainsboro;
    width: 150px;
    margin-left: 10px;
}
#cust>div>img{
    height: 148px;
    width: 150px;
}
#text{
    text-align: center;
}

